extends layout

block content
    h1 All Countries
    ul.list-group
        each country in countries
            li.list-group-item
                a(href="/country/" + country._id)= country.name